h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid tomato;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 1;
}

.header-top {
display: flex;
padding-top: 13px;
padding-bottom: 14px;
margin-bottom: 20px;
outline: 1px solid blue;
}

.logo {
display: flex;
outline: 1px solid tomato;
}

.logo-icon{
  outline: 1px solid blueviolet;
  margin-right: 20px;
}

.logo-txt {
display: block;
width: 200px;
outline: 1px solid yellow;

font-family: 'PT Serif';
font-weight: 700;
font-size: 20px;
line-height: 1.3;

color: #FFFFFF;
}

.logo-txt-secondary {
outline: 1px solid blue;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  color: #FFFFFF;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 45px;
}
.contacts-item:not(:last-child) {
  margin-right: 33px;
}

.contacts-link {
  display: inline-flex;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;

  color: #FFFFFF;
  text-decoration: none;
}

.contacts-icon {
  margin-right: 12px;
  fill: currentColor;
}

.header-btn {
display: block;
padding: 13px 25px;
display: inline-block;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: #FFFFFF;

background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 30px;
cursor: pointer;
}

.site-nav {
  outline: 1px solid green;
}
.site-nav-list {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 32px;
}
.site-nav-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
 
  color: #FFFFFF;
  text-decoration: none;
}


/* Hero */
.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/hero-img.jpg);
  max-width: 1920px;
  padding-top: 226px;
  padding-bottom: 33px;

}

.hero::before {
  content: "";

  position: absolute;
  top: 81px;
  left: 0;
  
  display: block;
  width: 100%;

  background: #C4C4C4;
  opacity: 0.3;
  border: 1px solid #D9D9DE;
}

.hero-title {
margin-bottom: 8px;
font-family: 'PT Serif';
font-weight: 700;
font-size: 90px;
line-height: 1.3;

color: #FFFFFF;
}

.hero-txt {
max-width: 450px;
margin-bottom: 94px;
font-family: 'Roboto';
font-weight: 400;
font-size: 20px;
line-height: 1.4;

color: #FFFFFF;
}

.hero-btn {
display: inline-block;
padding: 20px 53px;
margin-bottom: 184px;
font-family: 'Roboto';
font-weight: 500;
font-size: 18px;
line-height: 1.16;

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

border: 1px solid #FFFFFF;
border-radius: 30px;
text-decoration: none;
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  width: 40px;
  height: 40px;
  
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.hero-icon {
  fill: currentColor;
}
/* Categories */

.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.categories-text {
  padding: 13px 19px 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
}

.categories-list {

  /* display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px; */

  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);

}

.categories-item {
  /* width: calc((100% - 128px) / 4);
  margin-right: 32px;
  margin-bottom: 32px; */

  border: 1px solid #d9d9de;
  border-radius: 6px;
  overflow: hidden;
}

/* Gellary */

.gallery {
background-color: rgba(63, 169, 245, 0.07);
}

.gallery-container {
  padding-top: 44px;
  padding-bottom: 80px;
}

.title-position {
  margin-bottom: 52px;
}

.gallary-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #000000;
}

.gallery-link {
  margin-left: auto;
  margin-right: 55px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-decoration-line: underline;
  color: #0050b2;
}

.title-position,
.gallery-list-btn {
  display: flex;
  align-items: center;
}

.gallery-item-btn {
  margin-right: 16px;
}

.gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border: 1px solid #0061d9;
  box-sizing: border-box;
  border-radius: 22px;

  cursor: pointer;
}


.gallery-list-img {
  /* display: flex;
  flex-wrap: wrap;

  margin-right: -32px;
  margin-bottom: -32px; */

  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

/* .gallery-item-img {
  width: calc((100% - 96px) / 3);
  margin-right: 32px;
  margin-bottom: 32px;
} */

/* Offers */

.offers {
padding-top: 76px;
padding-bottom: 80px;
}

.offers-container {
  position: relative;
}

.offers-list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.offers-item {
  position: relative;
}

.offers-item:nth-child(3) {
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 3;
}

.offers-title {
  margin-bottom: 40px;

  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  
  color: #000000;
}

.offers-subtitle {
  position: absolute;
  top: 16px;
  left: 17px;
  width: 218px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;

  color: #FFFFFF;
}

.offers-subtitle-width {
  width: 407px;
}

.offers-txt {
  position: absolute;
  bottom: 19px;
  left: 17px;
  width: 218px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  color: #FFFFFF;
}

.last-link {
  position: absolute;
  bottom: 0;
  right: 17px;
}

.last-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  
  color: #FFFFFF;

  transform: translate(-50%, -50%);
}